@use '../../../../../shared/styles/colors.scss' as *;

:host {
  height: 100dvh;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: max-content 149px 0 minmax(max-content, auto);

  .subsidebar {
    border-right: 1px solid $borderColor;
  }
}
