$primaryBackgroundColor: light-dark(#1b1818, #1b1818);
$secondaryBackgroundColor: light-dark(#333232, #333232);
$loaderPrimaryColor: light-dark(#fffdfd, #fffdfd);
$loaderSecondaryColor: light-dark(#c1c1c1, #c1c1c1);
$borderColor: light-dark(#595757, #595757);
$primaryTextColor: light-dark(#f4f4f4, #f4f4f4);
$errorTextColor: light-dark(#bd5252, #bd5252);
$buttonDisabledBackgroundColor: light-dark(#595757, #595757);
$buttonSubmitBackgroundColor: light-dark(#036537, #036537);
$buttonSubmitBackgroundHoverColor: light-dark(#09592e, #09592e);
$iconColor: light-dark(#8c8b8b, #8c8b8b);
$hoverColor: light-dark(#595757, #595757);
$dangerColor: light-dark(#c64545, #c64545);
$accentColor: light-dark(#9456ff, #9456ff);
