@use '../../../shared/styles/colors.scss' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.label {
  font-size: 20px;
}

.errors {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: $errorTextColor;
  font-size: 16px;
}
