:host {
  display: contents;

  svg {
    position: absolute;
    top: 50%;
    right: 3%;
    background: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    transform: translateY(-50%);
  }
}
